body {
    background-color: #ccc;
}

h1 {
    text-align: center;
}

.game-container {
    background-color: #ccc;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 105px;
    height: 105px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    user-select: none; 
    overflow: hidden;
    position: relative;
}

.card .front {
    visibility: hidden;
}

.card.open .front {
    visibility: visible;
}

.card.matched {
    background-color: #8bc34a;
    cursor: default;
}

.score-container {
    text-align: center;
    margin-top: 20px;
}

#restart-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
